<div class="col m7 s12">
    <h3 class="fade-in-right">The Movie Title</h3>
    <div class="row">
        <div class="col m3 fade-in-right slower">
            2018-12-12
        </div>
        <div class="row">
            <p class="flow-text col s12 fade-in-left slow">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </p>
        </div>
    </div>
</div>